.custom-card {
    background: #B9B8BA;
    border-style: none;
    border-radius: 0px;
}

img[src="assets/img/cross.svg"] {
    fill: red !important;
}

img[src="assets/img/check.svg"] {
    fill: green !important;
}

.custom-icon {
    margin-bottom: 16px;
}

.custom-button:active, 
.custom-button:focus {
    border:0.1em solid #1055B3; /* here configure as your needs */
    color:#1055B3;
 }