.custom-card {
    background: #B9B8BA;
    border-style: none;
    border-radius: 0px;
}

img[src="assets/img/cross.svg"] {
    fill: red !important;
}

img[src="assets/img/check.svg"] {
    fill: green !important;
}

.custom-icon {
    margin-bottom: 16px;
}