.custom-card {
    background: #B9B8BA;
    border-style: none;
    border-radius: 0px;
}

.red {
    color: #B00133 !important;
}

.green {
    color: #438B39 !important;
}

.custom-icon {
    margin-bottom: 16px;
}

.custom-button:active, 
.custom-button:focus {
    border:0.1em solid #1055B3; /* here configure as your needs */
 }

 @media screen and (min-width: 0px) and (max-width: 768px) {
    .custom-button:active, 
    .custom-button:focus {
        border:0.1em solid #C28729; /* here configure as your needs */
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .custom-gutter {
        margin-right: 0;
        margin-left: 0;
    }
}