<div>
    <form class="form center">
        <div class="row justify-content-center">
            <div class="pt-2 col-sm-4">
                <img class="img-fluid" src="assets/img/ebayHome.png">
            </div>
        </div>
        <div class="form-group row">
            <label for="keywords" class="col-12 col-sm-2 col-form-label bold">Key words<span class="red">*</span></label>
            <div class="col-12 col-sm-10">
                <input [(ngModel)]="formElements.keywords" type="text" name="keywords" id="keywords" class="form-control" placeholder="Enter keywords">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-2 col-form-label bold">Price range</label>
            <div class="col-6 col-sm-5">
                <input [(ngModel)]="formElements.priceFrom" type="number" name="priceFrom" id="priceFrom" class="form-control" placeholder="Min Price">
            </div>
            <div class="col-6 col-sm-5">
                <input [(ngModel)]="formElements.priceTo" type="number" name="priceTo" id="priceTo" class="form-control" placeholder="Max Price">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-2 bold">Condition</div>
            <div class="col-12 col-sm-10">
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.conditionNew" type="checkbox" name="conditionNew" id="conditionNew" value="true" class="form-check-input">
                    <label for="conditionNew" class="form-check-label bold">New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.conditionUsed" type="checkbox" name="conditionUsed" id="conditionUsed" value="true" class="form-check-input">
                    <label for="conditionUsed" class="form-check-label bold">Used</label>
                </div>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.conditionVeryGood" type="checkbox" name="conditionVeryGood" id="conditionVeryGood" value="true" class="form-check-input">
                    <label for ="conditionVeryGood" class="form-check-label bold">Very Good</label>
                </div>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.conditionGood" type="checkbox" name="conditionGood" id="conditionGood" value="true" class="form-check-input">
                    <label for="conditionGood" class="form-check-label bold">Good</label>
                </div>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.conditionAcceptable" type="checkbox" name="conditionAcceptable" id="conditionAcceptable" value="true" class="form-check-input">
                    <label for="conditionAcceptable" class="form-check-label bold">Acceptable</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-2 bold">Seller</div>
            <div class="col-12 col-sm-10">
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.returnAccepted" type="checkbox" name="returnAcceptped" id="returnAcceptped" value="true" class="form-check-input">
                    <label for="returnAcceptped" class="form-check-label bold">Return Accepted</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-2 bold">Shipping</div>
            <div class="col-12 col-sm-10">
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.freeShipping" type="checkbox" name="freeShipping" id="freeShipping" value="true" class="form-check-input">
                    <label for="freeShipping" class="form-check-label bold">Free</label>
                </div>
                <div class="form-check form-check-inline">
                    <input [(ngModel)]="formElements.expeditedShipping" type="checkbox" name="expeditedShipping" id="expeditedShipping" value="true" class="form-check-input">
                    <label for="expeditedShipping" class="form-check-label bold">Expedited</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-12 col-sm-2 col-form-label bold">Sort Order</label>
            <div class="col-12 col-sm-10">
                <select [(ngModel)]="formElements.sortBy" name="sortBy" id="sortBy" class="form-control custom-select">
                    <option value="BestMatch">Best Match</option>
                    <option value="CurrentPriceHighest">Price: highest first</option>
                    <option value="PricePlusShippingHighest">Price + Shipping: highest first</option>
                    <option value="PricePlusShippingLowest">Price + Shipping: lowest first</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 col-sm-2"></div>
            <div class="col-12 col-sm-10 text-right">
                <button (click)="search()" type="button" class="btn btn-primary mr-2 custom-color"><img src="assets/img/search.svg" class="icon">Search</button>
                <button (click)="clear()" type="reset" class="btn btn-secondary custom-hover"><img src="assets/img/clearAll.svg" class="icon">Clear</button>
            </div>
        </div>        
    </form>
    <app-alerts [keywordsAlert]="keywordsAlert" [priceAlert]="priceAlert" [searchAlert]="searchAlert"></app-alerts>
    <app-results [send]="send" [items]="items"></app-results>
</div>