img {
    width: 200px;
    height: 80px;
}

.center {
    width: 700px;
    margin: auto;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: top;
}

.custom-color {
    background-color: #306AA5;
    border: #306AA5;
}

.custom-color:hover {
    background-color: #2A5885;
    border: #2A5885;
}

.custom-hover:hover {
    color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}