<div>
    <form action="">
        <div class="row form-group">
            <div class="col-2">
                <label for="keywords">Key words<span class="red">*</span></label>
            </div>
            <div class="col-10">
                <input type="text" name="keywords" id="keywords" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Price range</label>
            </div>
            <div class="col-5">
                <input type="number" name="priceFrom" id="priceFrom" class="form-control">
            </div>
            <div class="col-5">
                <input type="number" name="priceTo" id="priceTo" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Condition</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="conditionNew" id="conditionNew" value="true" class="form-check-input">
                <label for="conditionNew" class="form-check-label">New</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="conditionUsed" id="conditionUsed" value="true" class="form-check-input">
                <label for="conditionUsed" class="form-check-label">Used</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="conditionVeryGood" id="conditionVeryGood" value="true" class="form-check-input">
                <label for ="conditionVeryGood" class="form-check-label">Very Good</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="conditionGood" id="conditionGood" value="true" class="form-check-input">
                <label for="conditionGood" class="form-check-label">Good</label>
            </div>
            <div class="col-2">
                <input type="checkbox" name="conditionAcceptable" id="conditionAcceptable" value="true" class="form-check-input">
                <label for="conditionAcceptable" class="form-check-label">Acceptable</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Seller</label>
            </div>
            <div class="col">
                <input type="checkbox" name="returnAcceptped" id="returnAcceptped" value="true" class="form-check-input">
                <label for="returnAcceptped" class="form-check-label">Return Accepted</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <label>Shipping</label>
            </div>
            <div class="col">
                <input type="checkbox" name="freeShipping" id="freeShipping" value="true" class="form-check-input">
                <label for="freeShipping" class="form-check-label">Free</label>
            </div>
            <div class="col">
                <input type="checkbox" name="expeditedShipping" id="expeditedShipping" value="true" class="form-check-input">
                <label for="expeditedShipping" class="form-check-label">Expedited</label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2">
                <label>Sort Order</label>
            </div>
            <div class="col-10">
                <select name="sortBy" id="sortBy" class="form-control">
                    <option value="BestMatch">Best Match</option>
                    <option value="CurrentPriceHighest">Price: highest first</option>
                    <option value="PricePlusShippingHighest">Price + Shipping: highest first</option>
                    <option value="PricePlusShippingLowest">Price + Shipping: lowest first</option>
                </select>
            </div>
        </div>
        <div class="row form-group">

        </div>        
    </form>
</div>